@CHARSET "UTF-8";
/*文本导航组件*/
.text-navigation .horizontal{height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.text-navigation .horizontal .item{text-align:center;line-height: 20px;height:20px;font-size: 14px;display: inline-block;}
.text-navigation .horizontal .item a{display: block;}

.text-navigation .text-navigation-block>ul>li{position:relative;border:1px dashed #e5e5e5;padding:10px 10px 10px 0;margin-top:10px;}
.text-navigation .text-navigation-block>ul>li div:nth-child(2){margin-bottom:0;}
.text-navigation .text-navigation-block>ul>li:hover .del{display:block;}

.text-navigation .second-text{font-size: 12px;color: #777;margin-left: 10px;}