@CHARSET "UTF-8";
.align-right{
	text-align: right;
}
.lineheight-clear {
	line-height:1 !important;
}
.goods-list.single-column {
}
.goods-list.single-column .goods-item {
	padding:13px;
	background:#fff;
	margin:5px 0;
	border-radius:5px;
	display:flex;
	position:relative;
}
.goods-list.single-column .goods-item:first-child{
	margin-top: 0;
}
.goods-list.single-column .goods-item:last-child{
	margin-bottom: 0;
}
.goods-list.single-column .goods-item .goods-img {
	width:90px;
	height:90px;
	overflow:hidden;
	border-radius:5px;
	margin-right:10px;
	background:#e5e5e5;
	display:flex;
	justify-content:center;
	align-items:center;
}
.goods-list.single-column .goods-item .goods-img img {
	width: 100%;
	height: 100%;
}
.goods-list.single-column .goods-item .goods-tag {
	color:#fff;
	line-height:1;
	padding:4px 6px;
	position:absolute;
	border-top-left-radius:5px;
	border-bottom-right-radius:5px;
	top:13px;
	left:13px;
	font-size:12px;
	background: #FF4544
}
.goods-list.single-column .goods-item .goods-tag-img {
	position: absolute;
	border-top-left-radius: 5px;
	width: 40px;
	height: 40px;
	top: 13px;
	left: 13px;
	z-index: 5;
	overflow: hidden;
	margin: 0;
}
.goods-list.single-column .goods-item .goods-tag-img .tag-wrap{
	background: #eee;
	font-size: 12px;
	padding: 5px;
    text-align: center;
    color: #999;
}
.goods-list.single-column .goods-item .goods-tag-img img {
	width: 100%;
	height: 100%;
}
.goods-list.single-column .goods-item .info-wrap {
	flex:1;
	display:flex;
	flex-direction:column;
}
.goods-list.single-column .goods-item .name-wrap {
	flex:1;
}
.goods-list.single-column .goods-item .goods-name {
	font-size:14px;
	line-height:1.3;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
}
.goods-list.single-column .goods-item .discount-price {
	display:inline-block;
	font-weight:bold;
	line-height:1;
	margin-top:8px;
	color:#f44;
}
.goods-list.single-column .goods-item .discount-price .unit {
	font-size:12px;
}
.goods-list.single-column .goods-item .pro-info {
	display:flex;
	margin-top:8px;
}
.goods-list.single-column .goods-item .pro-info .delete-price {
	text-decoration:line-through;
	flex:1;
	font-size:12px;
	line-height:1;
	color:#999;
}
.goods-list.single-column .goods-item .pro-info .sale {
	font-size:12px;
	line-height:1;
	color:#999;
}
.goods-list.single-column .goods-item .pro-info .sale {
	font-size:12px;
}
.goods-list.single-column .goods-item .pro-info > view {
	line-height:1;
}
.goods-list.single-column .goods-item .pro-info > view:nth-child(2) {
	text-align:right;
}
.goods-list.single-column .goods-item .member-price-tag {
	display:inline-block;
	width:30px;
	line-height:1;
	margin-left:3px;
}
.goods-list.single-column .goods-item .member-price-tag image {
	width:100%;
}

.goods-list.double-column {
	display:flex;
	flex-wrap:wrap;
	margin: 0;
    padding: 0;
}
.goods-list.double-column .goods-item {
	flex:1;
	position:relative;
	background:#fff;
	flex-basis:48%;
	max-width:calc((100% - 15px) / 2);
	margin-right:15px;
	margin-bottom:10px;
	border-radius:5px;
}
.goods-list.double-column .goods-item:nth-child(2n) {
	margin-right:0;
}
.goods-list.double-column .goods-item .goods-img {
	position:relative;
	height:0;
	overflow:hidden;
	padding-top:100%;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-color:#E8E8E8;
}
.goods-list.double-column .goods-item .goods-img img {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width: 100%;
	height: 100%;
}
.goods-list.double-column .goods-item .goods-tag {
	color:#fff;
	line-height:1;
	padding:4px 8px;
	position:absolute;
	border-bottom-right-radius:5px;
	top:0;
	left:0;
	font-size:12px;
	background: #FF4544;
}
.goods-list.double-column .goods-item .goods-tag-img {
	position: absolute;
	border-top-left-radius: 5px;
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
	z-index: 5;
	overflow: hidden;
	margin: 0;
}
.goods-list.double-column .goods-item .goods-tag-img .tag-wrap{
	background: #eee;
	font-size: 12px;
	padding: 5px;
    text-align: center;
    color: #999;
}
.goods-list.double-column .goods-item .goods-tag-img .tag-wrap{
	background: #eee;
	font-size: 12px;
}
.goods-list.double-column .goods-item .goods-tag-img img {
	width: 100%;
	height: 100%;
}
.goods-list.double-column .goods-item .info-wrap {
	padding:0 13px 13px 13px;
}
.goods-list.double-column .goods-item .goods-name {
	font-size:14px;
	line-height:1.3;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	margin-top:10px;
}
.goods-list.double-column .goods-item .discount-price {
	display:inline-block;
	font-weight:bold;
	line-height:1;
	margin-top:8px;
	color:#f44;
}
.goods-list.double-column .goods-item .pro-info {
	display:flex;
	margin-top:8px;
}
.goods-list.double-column .goods-item .pro-info .delete-price {
	text-decoration:line-through;
	flex:1;
	font-size:12px;
	line-height:1;
	color:#999;
}
.goods-list.double-column .goods-item .pro-info .sale {
	font-size:12px;
	line-height:1;
	color:#999;
}
.goods-list.double-column .goods-item .pro-info .delete-price .unit {
	margin-right:3px;
}
.goods-list.double-column .goods-item .pro-info > view {
	line-height:1;
}
.goods-list.double-column .goods-item .pro-info > view:nth-child(2) {
	text-align:right;
}
.goods-list.double-column .goods-item .member-price-tag {
	display:inline-block;
	width:30px;
	line-height:1;
	margin-left:3px;
}
.goods-list.double-column .goods-item .member-price-tag image {
	width:100%;
}
/* 显示内容 */
.goods-show-box .layui-input-inline {
	padding-left:20px;
}
.control-goods-list-small .control-goods-sellnum-abs {
	position:absolute;
	right:5px;
	bottom:10px;
	line-height:25px;
}
/* 商品来源选择 */
.source-selected {
	display:flex;
}
.source-selected .source {
	flex:1;
}
.source-selected .source-item {
	display:inline-block;
	width:50px;
	height:32px;
	text-align:center;
	border:1px solid #e5e5e5;
	padding:5px;
	cursor:pointer;
	background:#ffffff;
	box-sizing:border-box;
	border-right:1px transparent solid;
	display:flex;
	align-items:center;
	justify-content:center;
}
.source-selected .source-item img {
	display:inline-block;
}
.source-selected .source-item:last-child {
	border-right:1px solid #e5e5e5;
}
.goods-tag-img {
	display:flex;
    margin-left: 15px;
}
.goods-tag-img .upload-tip {
	flex:1;
}
.goods-tag-img .upload-tip p {
	color:#666;
	font-size:12px;
}
.goods-tag-img .upload-tip p:nth-child(1){
	margin-top: 15px;
}
.goods-tag-img .upload-tip p:nth-child(2){
	margin-top: 5px;
}
.goods-tag-component .error-msg {
	color:#f44;
	display:none;
}

/* 商品列表风格 */
.goods-list-style {
	display: none;
}

.style-list-con-goods {
	display: flex;
	flex-wrap: wrap;
}

.style-list-con-goods .style-li-goods {
	width: 32%;
	height: 465px;
	line-height: 465px;
	margin-right: 2%;
	margin-bottom: 15px;
	cursor: pointer;
	border: 1px solid #ededed;
	background: #f7f8fa;
	box-sizing: border-box;
}

.style-list-con-goods .style-li-goods:nth-child(3n) {
	margin-right: 0;
}

.style-list-con-goods .style-li-goods img {
	width: 100%;
}

.goods-category-layer {
	display: none;
}


.layui-layer-content .category-wrap .category-item,.layui-layer-content .category-head {
	height: 30px;
	line-height: 30px;
	border: 1px solid #ededed; 
	border-radius: 5px;
	padding: 0 15px;
	margin: 0 15px 10px 0;
	box-sizing: border-box;
    color: #666;
    font-size: 12px;
}

.layui-layer-content .category-head{
	background: #eee;
	height: 40px;
	line-height: 40px;
}

.layui-layer-content .category-wrap {
	overflow-y: scroll;
	height: calc(100% - 45px);
}

.layui-layer-content .category-wrap::-webkit-scrollbar {
  	display: none;
}

.layui-layer-content .category-wrap .category-item{
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}