/* 公共*/
.float-btn .float-btn-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
	justify-content: center;
	text-align: center;
	border:1px dashed #FF6A00;
}
.float-btn .float-btn-box a:last-child{
    margin-bottom: 0;
}
.float-btn .float-btn-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.float-btn .float-btn-item .img-box {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 40px;
	height: 40px;
}

.float-btn .float-btn-item .img-box img {
    max-width: 100%;
    max-height: 100%;
}

.float-btn .float-btn-item span {
    margin-top: 5px;
    color: #333;
    font-size: 12px;
}

.float-btn .float-btn-list li, .float-btn .float-btn-list .add-item {
    display: flex;
    align-items: end;
    border: 1px dashed #e5e5e5;
    padding: 10px;
}

.float-btn .float-btn-list li + li {
    margin: 10px 0;
}

.float-btn .float-btn-list li .content-block {
    width: 71%;
    display: flex;
    flex-direction: column;
}

.float-btn .float-btn-list li .content-block .layui-form-item {
    margin: 0;
}

.float-btn .float-btn-list .add-item {
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

.float-btn .float-btn-list .add-item i {
    font-weight: bold;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    margin-right: 10px;
}

.float-btn .float-btn-list .add-item span {
    display: inline-block;
    height: 24px;
    line-height: 24px;
}

.float-btn .float-btn-list li {
    position: relative;
}

.float-btn .float-btn-list li:hover .del {
    display: block;
}

.float-btn{
    position: absolute;
    width: 40px;
    max-height: 170px;
   min-height: 62px;
}
.float-btn .preview-draggable{
    padding: 0;
}
.float-btn.left{
	background: rgba(255, 255, 255, 0.45);
    margin-left: 10px;
	top:130px;
}


.float-btn.left .edit-attribute{
    right: -980px;
    top: -100px;
}

.float-btn.right_bottom{
    margin-left: 10px;
	bottom:130px;
	left:642px;
}
.float-btn-list .hint{
	color:#909399 !important
}

.flex{justify-content: space-between;display: flex;align-items: center;}
.flex .flex_left{display: flex;align-items: center;}
.flex .flex_left .curr_color{color:#303133}
.flex .flex_fill{flex:1;text-align: right;display: flex;justify-content: flex-end;align-items: center;}
.flex .flex_fill .flex_choose{display: flex;align-items: center;}
.flex .flex_fill .flex_choose>div{border:1px solid #EEEEEE;width:30px;height:23px;border-right: 0;line-height: 23px;text-align: center;}
.flex .flex_fill .flex_choose>div img{vertical-align: middle;}
.flex .flex_fill .flex_choose>div:last-child{border-right: 1px solid #EEEEEE;}
.flex .flex_fill .flex_choose>div.active{border:1px solid #FF6A00;background-color: rgba(255, 106, 0, 0.1);}